.reviews { 
    width: 0;
    height: 0;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    // padding: 15px;

    &__title {
        font-size: 20px;
        font-weight: 700;
    }
}